<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kafe Application</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>


<div class="container w-50 p-3">
  <h1 class="display-6">Menu Detail</h1>


  <form action="#" th:object="${menu}">
    <div class="mb-3">
      <label for="inputName">Name</label>
      <input disabled th:value="${menu.name}"
             name="name" id="inputName" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="inputPrice">Price</label>
      <input disabled th:value="${#numbers.formatDecimal(menu.price, 1, 'COMMA', 2, 'POINT')}"
             name="price" id="inputPrice" type="text" class="form-control">
    </div>
  </form>
  <br>


  <form action="#" th:action="@{/orders/{menuId}(menuId=${menu.id})}" method="POST">
    <div class="mb-3">
      <label for="inputQuantity">Quantity</label>
      <input id="inputQuantity" type="input" class="form-control"
             name="quantity">
    </div>
    <button id="submit-button" type="submit" class="btn btn-primary">Add to Cart</button>
  </form>
</div>


</body>
</html>